@model List<Customer>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="col-12 text-white py-2">Customer List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6"></div>
            <div class="col-6 text-end">
                <a asp-controller="Customer" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create new Customer
                </a>
            </div>
        </div>


        <table id="tblcustomerdata" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Customer Name</th>
                     <th>Membership Type</th> 
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/js/Customer.js"></script>
}